{% set page_content %}

<h1 class="!text-center !text-3xl"><strong>Repositories</strong></h1>
<p><br></p>
<table class="!mb-1">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
<th>Owner</th>
<th>Last commit</th>
</tr>
</thead>
<tbody>
{% for repo in repos %}
<tr>
    <td> <a href="/{{repo.name|lower}}/log.html"><h1><strong>{{ repo.name }}</strong></h1></a> </td>
    <td class="!text-gray-400"> {{ repo.desc }}</td>
    <td class="!text-gray-400"> {{ repo.author }}</td>
    <td class="!text-gray-400"> {{ repo.last_commit_date }}</td>
</tr>

{% endfor%}


</tbody>
</table>
{% endset %}
{% include "base.html" %}
