{% set page_content %}
{% include "partials/repo-nav.html" %}
<div class="overflow-x-auto">
<table class="!w-full">
	<thead>
		<tr>
			<th class="w-px whitespace-nowrap">Date</th>
			<th class="w-full">Message</th>
			<th class="w-px whitespace-nowrap">Author</th>
			<th class="w-px whitespace-nowrap">Files</th>
			<th class="w-px whitespace-nowrap">+</th>
			<th class="w-px whitespace-nowrap">-</th>
		</tr>
	</thead>
	<tbody>
	{% for commit in commits  %}
		<tr>
			<td class="!text-gray-500 w-px whitespace-nowrap">{{commit.date}}</td>
			<td class="w-full">
				<a class="!text-green-400 hover:underline" href="/{{repo_name|lower}}/commits/{{commit.commit_hash}}.html">
					{{commit.message}}
				</a>
			</td>
			<td class="!text-gray-400 w-px whitespace-nowrap">
				{{commit.author}}
			</td>
			<td class="!text-gray-500 text-right w-px whitespace-nowrap">
				{{len(commit.files)}}
			</td>
			<td class="!text-green-500 text-right w-px whitespace-nowrap">
				+{{total_added(commit.files)}}
			</td>
			<td class="!text-red-500 text-right w-px whitespace-nowrap">
				-{{total_removed(commit.files)}}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>
{% endset %}
{% include "base.html" %}
