{% set page_content %}

{% include "partials/repo-nav.html" %}

{% for ref in refs %}
	{% if ref.refs %}
		<h2>{{ref.name}}</h2>
		<table class="!w-full !table-fixed !border-1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Last commit date</th>
					<th>Author</th>
				</tr>
			</thead>
			<tbody>
				{% for ref_entry in ref.refs %}
					<tr>
						<td class="!text-cyan-400"> {{ ref_entry.name   }}</td>
						<td class="!text-cyan-400"> {{ ref_entry.date   }}</td>
						<td class="!text-cyan-400"> {{ ref_entry.author }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endfor %}

{% endset %}
{% include "base.html" %}
