
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A web interface for the pi66.xyz Git server">
		<meta name="author" content="Pi66">
		<meta name="theme-color" content="#000000">
		<title>Pi66 - pi66.xyz - fix: remove text-4xl from the heading in walrs & pino-rs</title>
		<link rel="icon" href="/static/favicon.ico">
		<link rel="stylesheet" href="/static/css/style.css"/>
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser"></script>


	</head>
	<body class="font-[Pixelify] w-screen h-dvh max-w-[1200px] mx-auto overflow-hidden bg-black p-5 pb-0 flex flex-col gap-3">
		<header class="py-2.5 justify-between h-12 px-3 border-[#333333] border-1 flex items-center">
	<div class="flex items-center">
		<a href="/" class="flex items-center">
			<img
				src="/static/icons/lain.gif" 
				class="w-10 h-auto rounded-md object-contain saturate-150"
			/>
			<h1 class="pi66-title ml-4 text-green-700 font-bold !text-2xl">Pi66</h1>
		</a>
	</div>
</header>

		<div class="flex-1 flex flex-col gap-2 overflow-hidden">

			<main class="flex-initial w-full box-border px-3 overflow-x-hidden pb-2 border border-[#333] overflow-y-auto">
				
<div>
	<blockquote class="!p-0">
		<p>
		<strong class="text-xl"> pi66.xyz </strong>
		
		<br>
		git clone <a href="https://git.pi66.xyz/pi66.xyz" > https://git.pi66.xyz/pi66.xyz </a>
		</p>
	</blockquote>

</div>

<nav class="flex gap-4 mb-4 pb-2 border-b border-[#333] text-sm">
	<a class="text-gray-400 text-green-400 font-bold" href="/pi66.xyz/log.html">Log</a> |
	<a class="text-gray-400 hover:text-green-400"     href="/pi66.xyz/files.html">Files</a> |
	<a class="text-gray-400 hover:text-green-400"     href="/pi66.xyz/refs.html">Refs</a> |
	<a class="text-gray-400 hover:text-green-400"     href="/pi66.xyz/readme.html">README</a> |
	<a class="text-gray-400 hover:text-green-400"     href="/pi66.xyz/license.html">LICENSE</a>
</nav>

<p><a href="/pi66.xyz/log.html">← back to log</a></p>
<h1>fix: remove text-4xl from the heading in walrs & pino-rs</h1>


<blockquote>
	<p>
		<strong>author:</strong> pi66 <br>
		<strong>date:</strong>   2026-07-03 03:21   <br>
		<strong>hash:</strong>   49457d1131dbdb52a4981c1080cbd68bf394db20   <br>
	</p>
</blockquote>


<table class="!w-full !table-fixed !border-1 ">
	<thead>
		<tr>
			<th>File</th>
			<th>+</th>
			<th>-</th>
		</tr>
	</thead>
	<tbody>


		<tr>
			<td>md/tools/pino-rs.md</td>
			<td class="!text-green-500 text-right">1</td>
			<td class="!text-red-500 text-right">1</td>
		</tr>

		<tr>
			<td>md/tools/walrs.md</td>
			<td class="!text-green-500 text-right">1</td>
			<td class="!text-red-500 text-right">1</td>
		</tr>

	</tbody>
</table>

<div class="highlight" style="background: #272822"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 1</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 2</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 3</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 4</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 5</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 6</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 7</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 8</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 9</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">10</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">11</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">12</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">13</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">14</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">15</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">16</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">17</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">18</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">19</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">20</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">21</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">22</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">23</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">24</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">25</span></pre></div></td><td class="code"><div><pre style="line-height: 125%;"><span></span><code><span style="color: #F8F8F2">diff --git a/md/tools/pino-rs.md b/md/tools/pino-rs.md</span>
<span style="color: #F8F8F2">index 2de4e89..b39a998 100644</span>
<span style="color: #FF4689">--- a/md/tools/pino-rs.md</span>
<span style="color: #A6E22E">+++ b/md/tools/pino-rs.md</span>
<span style="color: #959077">@@ -8,7 +8,7 @@ Pino-rs is a lightweight Rust-based notification daemon for Linux, focused on fa</span>

<span style="color: #F8F8F2"> </span>{% block content %}

<span style="color: #FF4689">-# &gt;[**Pino**](/tools/pino-rs) [.!text-4xl .!mb-5]</span>
<span style="color: #A6E22E">+# &gt;[**Pino**](/tools/pino-rs)</span>

<span style="color: #F8F8F2"> </span>Pino is a fully customizable notification tool rewritten in Rust. It allows you to display notifications with various options, including dynamic theming, configurable fonts, and system integration.

<span style="color: #F8F8F2">diff --git a/md/tools/walrs.md b/md/tools/walrs.md</span>
<span style="color: #F8F8F2">index 665cad5..e34fdea 100644</span>
<span style="color: #FF4689">--- a/md/tools/walrs.md</span>
<span style="color: #A6E22E">+++ b/md/tools/walrs.md</span>
<span style="color: #959077">@@ -7,7 +7,7 @@ Walrs is a lightweight Linux theming tool that extracts colors from wallpapers a</span>

<span style="color: #F8F8F2"> </span>{% block content %}

<span style="color: #FF4689">-# &gt;[**Walrs**](/tools/walrs) [.!text-4xl .!mb-5]</span>
<span style="color: #A6E22E">+# &gt;[**Walrs**](/tools/walrs)</span>

<span style="color: #F8F8F2"> </span>A fast, lightweight color scheme generator written in Rust.
</code></pre></div></td></tr></table></div>


			</main>

			<footer class="mt-auto mb-2 h-10  flex flex-col justify-center items-center text-blockquote text-sm border-[#333]">
				
					<div>
						<p class="text-gray-300">// Created by <span class="font-bold text-green-500">Pi66</span></p>
						<p class="text-gray-300">// Copyright ©Pi66 2026</p>
					</div>
				
			</footer>

		</div>
	</body>
	<script>
        function typePerLetter(selector, speed = 100) {
            const el = document.querySelector(selector);
            if (!el) return;

            const text = el.textContent;
            el.textContent = "";
            let i = 0;

            const interval = setInterval(() => {
                if (i >= text.length) {
                    clearInterval(interval);
                    return;
                }

                const char = text[i];
                if (char === "\n") {
                    el.appendChild(document.createElement("br"));
                } else {
                    el.append(char);
                }
                i++;
            }, speed);
        }

        typePerLetter(".pi66-title", 120);
		 document.body.style.zoom = "100%";
    </script>
</html>