

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A web interface for the pi66.xyz Git server">
		<meta name="author" content="Pi66">
		<meta name="theme-color" content="#000000">
		<title>Pi66 - pi66.xyz - md/tools/pino-rs.md</title>
		<link rel="icon" href="/static/favicon.ico">
		<link rel="stylesheet" href="/static/css/style.css"/>
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser"></script>


	</head>
	<body class="font-[Pixelify] w-screen h-dvh max-w-[1200px] mx-auto overflow-hidden bg-black p-5 pb-0 flex flex-col gap-3">
		<header class="py-2.5 justify-between h-12 px-3 border-[#333333] border-1 flex items-center">
	<div class="flex items-center">
		<a href="/" class="flex items-center">
			<img
				src="/static/icons/lain.gif" 
				class="w-10 h-auto rounded-md object-contain saturate-150"
			/>
			<h1 class="pi66-title ml-4 text-green-700 font-bold !text-2xl">Pi66</h1>
		</a>
	</div>
</header>

		<div class="flex-1 flex flex-col gap-2 overflow-hidden">

			<main class="flex-initial w-full box-border px-3 overflow-x-hidden pb-2 border border-[#333] overflow-y-auto">
				

<div>
	<blockquote class="!p-0">
		<p>
		<strong class="text-xl"> pi66.xyz </strong>
		
		<br>
		git clone <a href="https://git.pi66.xyz/pi66.xyz" > https://git.pi66.xyz/pi66.xyz </a>
		</p>
	</blockquote>

</div>

<nav class="flex gap-4 mb-4 pb-2 border-b border-[#333] text-sm">
	<a class="text-gray-400 text-green-400 font-bold" href="/pi66.xyz/log.html">Log</a> |
	<a class="text-gray-400 hover:text-green-400"     href="/pi66.xyz/files.html">Files</a> |
	<a class="text-gray-400 hover:text-green-400"     href="/pi66.xyz/refs.html">Refs</a> |
	<a class="text-gray-400 hover:text-green-400"     href="/pi66.xyz/readme.html">README</a> |
	<a class="text-gray-400 hover:text-green-400"     href="/pi66.xyz/license.html">LICENSE</a>
</nav>

<h1>
	md/tools/pino-rs.md
</h1>
<div class="highlight" style="background: #272822"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 1</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 2</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 3</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 4</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 5</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 6</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 7</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 8</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 9</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">10</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">11</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">12</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">13</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">14</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">15</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">16</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">17</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">18</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">19</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">20</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">21</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">22</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">23</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">24</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">25</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">26</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">27</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">28</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">29</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">30</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">31</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">32</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">33</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">34</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">35</span></pre></div></td><td class="code"><div><pre style="line-height: 125%;"><span></span><code>{% extends &quot;layout.html&quot; %}

{% block meta_description %}
Pino-rs is a lightweight Rust-based notification daemon for Linux, focused on fast rendering, theming support, and scriptable system notifications.
{% endblock %}

{% block title %} Pino-rs {% endblock %}

{% block content %}

<span style="color: #F8F8F2"># &gt;[**Pino**](/tools/pino-rs)</span>

Pino is a fully customizable notification tool rewritten in Rust. It allows you to display notifications with various options, including dynamic theming, configurable fonts, and system integration.

<span style="color: #F8F8F2"># &gt;**Shortcuts**</span>

<span style="color: #66D9EF">-</span><span style="color: #F8F8F2"> </span>[<span style="color: #F8F8F2; font-weight: bold">**Features**</span>](#features)
<span style="color: #66D9EF">-</span><span style="color: #F8F8F2"> </span>[<span style="color: #F8F8F2; font-weight: bold">**Installation**</span>](#installation)
<span style="color: #66D9EF">-</span><span style="color: #F8F8F2"> </span>[<span style="color: #F8F8F2; font-weight: bold">**Usage**</span>](#usage)
<span style="color: #66D9EF">-</span><span style="color: #F8F8F2"> </span>[<span style="color: #F8F8F2; font-weight: bold">**Example: Low Battery Alert**</span>](#example-low-battery-alert)
<span style="color: #66D9EF">-</span><span style="color: #F8F8F2"> </span>[<span style="color: #F8F8F2; font-weight: bold">**Configuration**</span>](#configuration)
<span style="color: #66D9EF">-</span><span style="color: #F8F8F2"> </span>[<span style="color: #F8F8F2; font-weight: bold">**Dependencies**</span>](#dependencies)
<span style="color: #66D9EF">-</span><span style="color: #F8F8F2"> </span>[<span style="color: #F8F8F2; font-weight: bold">**Hardware Usage**</span>](#hardware-usage)

<span style="color: #F8F8F2"># &gt;**Features** [#features]</span>

<span style="color: #66D9EF">-</span><span style="color: #F8F8F2"> </span><span style="color: #F8F8F2; font-weight: bold">**Customizable Notifications**</span>: Set titles, messages, delay, and fonts.
<span style="color: #66D9EF">-</span><span style="color: #F8F8F2"> </span><span style="color: #F8F8F2; font-weight: bold">**Dynamic Theming with walrs(or pywal)**</span>: Automatically matches the notification theme to your wallpaper.
<span style="color: #66D9EF">-</span><span style="color: #F8F8F2"> </span><span style="color: #F8F8F2; font-weight: bold">**Configurable Settings**</span>: Adjust themes, screen placement, fonts, and more via a TOML config file.
<span style="color: #66D9EF">-</span><span style="color: #F8F8F2"> </span><span style="color: #F8F8F2; font-weight: bold">**Script Integration**</span>: Automate notifications using scripts in any language.

<span style="color: #F8F8F2"># &gt;**Installation** [#installation]</span>

```sh
make install clean
</code></pre></div></td></tr></table></div>
<h1 id="dependencies">&gt;<strong>Dependencies</strong></h1>
<p>Pino requires the following dependencies:</p>
<ul>
<li>Rust (for building from source)</li>
<li>Walrs </li>
<li>pywal (optional) for dynamic theming</li>
</ul>
<h1 id="usage">&gt;<strong>Usage</strong></h1>
<p>Pino supports the following command-line options:</p>
<div class="highlight" style="background: #272822"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">1</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">2</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">3</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">4</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">5</span></pre></div></td><td class="code"><div><pre style="line-height: 125%;"><span></span><code><span style="color: #959077">### Note:</span>
If<span style="color: #F8F8F2"> </span>you<span style="color: #F8F8F2"> </span>want<span style="color: #F8F8F2"> </span>to<span style="color: #F8F8F2"> </span>insert<span style="color: #F8F8F2"> </span>a<span style="color: #F8F8F2"> </span>new<span style="color: #F8F8F2"> </span>line<span style="color: #F8F8F2"> </span><span style="color: #FF4689">(</span>wrap<span style="color: #F8F8F2"> </span>text<span style="color: #FF4689">)</span><span style="color: #F8F8F2"> </span><span style="color: #66D9EF">in</span><span style="color: #F8F8F2"> </span>the<span style="color: #F8F8F2"> </span>message,<span style="color: #F8F8F2"> </span>use<span style="color: #F8F8F2"> </span><span style="color: #E6DB74">`</span><span style="color: #AE81FF">\n</span><span style="color: #E6DB74">`</span><span style="color: #F8F8F2"> </span><span style="color: #66D9EF">in</span><span style="color: #F8F8F2"> </span>the<span style="color: #F8F8F2"> </span>argument<span style="color: #F8F8F2"> </span>parameter.
<span style="color: #959077">### Example: Low Battery Alert</span>
You<span style="color: #F8F8F2"> </span>can<span style="color: #F8F8F2"> </span>create<span style="color: #F8F8F2"> </span>a<span style="color: #F8F8F2"> </span>script<span style="color: #F8F8F2"> </span>to<span style="color: #F8F8F2"> </span>notify<span style="color: #F8F8F2"> </span>about<span style="color: #F8F8F2"> </span>low<span style="color: #F8F8F2"> </span>battery<span style="color: #F8F8F2"> </span>status:
pino<span style="color: #F8F8F2"> </span>-t<span style="color: #F8F8F2"> </span><span style="color: #E6DB74">&quot;Battery Warning&quot;</span><span style="color: #F8F8F2"> </span>-m<span style="color: #F8F8F2"> </span><span style="color: #E6DB74">&quot;Low battery!\nPlease connect your charger.&quot;</span><span style="color: #F8F8F2"> </span>-d<span style="color: #F8F8F2"> </span><span style="color: #AE81FF">5</span>
</code></pre></div></td></tr></table></div>
<h1 id="configuration">&gt;<strong>Configuration</strong></h1>
<p>The app uses a TOML configuration file located at <code>~/.config/pino/config.toml</code>. Example:</p>
<div class="highlight" style="background: #272822"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 1</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 2</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 3</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 4</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 5</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 6</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 7</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 8</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;"> 9</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">10</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">11</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">12</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">13</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">14</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">15</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">16</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">17</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">18</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">19</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">20</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">21</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">22</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">23</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">24</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">25</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">26</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">27</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">28</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">29</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">30</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">31</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">32</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">33</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">34</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">35</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">36</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">37</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">38</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">39</span>
<span style="color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px;">40</span></pre></div></td><td class="code"><div><pre style="line-height: 125%;"><span></span><code><span style="color: #66D9EF">[screen]</span>
<span style="color: #F8F8F2">monitor </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">0</span>
<span style="color: #F8F8F2">horizontal </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #E6DB74">&quot;left&quot;</span>
<span style="color: #F8F8F2">vertical </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #E6DB74">&quot;top&quot;</span>
<span style="color: #F8F8F2">x </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">25</span>
<span style="color: #F8F8F2">y </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">55</span>
<span style="color: #F8F8F2">width </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">300</span>
<span style="color: #F8F8F2">height </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">100</span>
<span style="color: #F8F8F2">delay </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">5</span>

<span style="color: #66D9EF">[frame]</span>
<span style="color: #F8F8F2">fg_color </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #E6DB74">&quot;#1a1e24&quot;</span>
<span style="color: #F8F8F2">font_family </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #E6DB74">&quot;Fira Code&quot;</span>

<span style="color: #66D9EF">[border]</span>
<span style="color: #F8F8F2">weight </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">4</span>
<span style="color: #F8F8F2">color </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #E6DB74">&quot;#ffffff&quot;</span>
<span style="color: #F8F8F2">radius </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">8</span>

<span style="color: #66D9EF">[title]</span>
<span style="color: #F8F8F2">color </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #E6DB74">&quot;#c5c6c8&quot;</span>
<span style="color: #F8F8F2">font_size </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">19</span>
<span style="color: #F8F8F2">x </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">4</span>
<span style="color: #F8F8F2">y </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">10</span>

<span style="color: #66D9EF">[message]</span>
<span style="color: #F8F8F2">color </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #E6DB74">&quot;#626977&quot;</span>
<span style="color: #F8F8F2">font_size </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">15</span>
<span style="color: #F8F8F2">x </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">10</span>
<span style="color: #F8F8F2">y </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #AE81FF">45</span>

<span style="color: #66D9EF">[pywal]</span>
<span style="color: #F8F8F2">pywal </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #66D9EF">false</span>
<span style="color: #F8F8F2">background_color  </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #E6DB74">&quot;bg&quot;</span>
<span style="color: #F8F8F2">border_color      </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #E6DB74">&quot;color1&quot;</span>
<span style="color: #F8F8F2">title_color       </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #E6DB74">&quot;fg&quot;</span>
<span style="color: #F8F8F2">message_color     </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #E6DB74">&quot;color8&quot;</span>

<span style="color: #66D9EF">[optional]</span>
<span style="color: #F8F8F2">sound </span><span style="color: #FF4689">=</span><span style="color: #F8F8F2"> </span><span style="color: #66D9EF">false</span>
</code></pre></div></td></tr></table></div>
<h1 id="hardware-usage">&gt;<strong>Hardware Usage</strong></h1>
<p>Pino is lightweight and efficient. The graphical notification window typically uses approximately <strong>5-20MB of RAM</strong> when active, ensuring minimal system resource consumption.</p>
{% endblock %}<br />
```</p>

			</main>

			<footer class="mt-auto mb-2 h-10  flex flex-col justify-center items-center text-blockquote text-sm border-[#333]">
				
					<div>
						<p class="text-gray-300">// Created by <span class="font-bold text-green-500">Pi66</span></p>
						<p class="text-gray-300">// Copyright ©Pi66 2026</p>
					</div>
				
			</footer>

		</div>
	</body>
	<script>
        function typePerLetter(selector, speed = 100) {
            const el = document.querySelector(selector);
            if (!el) return;

            const text = el.textContent;
            el.textContent = "";
            let i = 0;

            const interval = setInterval(() => {
                if (i >= text.length) {
                    clearInterval(interval);
                    return;
                }

                const char = text[i];
                if (char === "\n") {
                    el.appendChild(document.createElement("br"));
                } else {
                    el.append(char);
                }
                i++;
            }, speed);
        }

        typePerLetter(".pi66-title", 120);
		 document.body.style.zoom = "100%";
    </script>
</html>